@using MapMusic.Common.DTOs;
@using MapMusic.Entities.Enums;
@model MapMusic.BusinessLogic.Implementation.Location.Models.ShowLocationModel
@inject CurrentUserDTO CurrentUser;

<head>
    <link rel="stylesheet" href="~/css/LocationContent.css" />
    <link rel="stylesheet" href="~/css/EventsList.css" />
    <link rel="stylesheet" href="~/css/PhotoList.css" />
    <script type="text/javascript" src="~/js/Favourite.js"></script>
    <script type="text/javascript" src="~/js/ShowContent.js"></script>
    <script type="text/javascript" src="~/js/LocationEventsList.js"></script>
</head>
<body>
    <h1>@Model.Name</h1>
    
    <div>
        <input type="radio" id="option1" name="options" onclick="showContent('content1')" checked> About
        <input type="radio" id="option2" name="options" onclick="showContent('content2')"> Events here
        <input type="radio" id="option3" name="options" onclick="showContent('content3')"> Photos
    </div>
    
    <div class="content" id="content1">
        <div class="location-container">
            <div class="class-info">
                <h2>About this location</h2>
                <p>Name: @Model.Name</p>
                <p>Address: @Model.Address</p>
                <p>Description: @Model.Description</p>
                @if (Model.Rating == 0)
                {
                    <p>Rating: No rating yet</p>
                }
                else
                {
                    <p>Rating: @Model.Rating.ToString("F2")</p>
                }
            </div>
            <div class="map-container">
                <h2>Map</h2>
                <div class="map-placeholder" id="map">
                       
                </div>
            </div>
        </div>
    </div>
    
    <div class="content" id="content2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <input type="radio" class="btn-check" name="options" id="upcomingEvents">
            <label class="btn btn-secondary" for="upcomingEvents">Upcoming Events</label>
            <input type="radio" class="btn-check" name="options" id="pastEvents">
            <label class="btn btn-secondary" for="pastEvents">Past Events</label>
        </div>
        <h2>Upcoming Invents</h2
        <div class="grid-container" id="grid">

        </div>
        Test
        <div class="grid-container">
            @foreach (var item in Model.UpcomingEvents)
            {
                <div class="grid-item">
                    <div class="box">
                        <div id="@item.Id" class="fire-button">
                        </div>
                        @if (CurrentUser.IsLoggedIn)
                        {
                            if (CurrentUser.RoleId == (int)RoleType.User)
                            {
                                <script>
                                    addFavouriteButton(@item.Id, @CurrentUser.Id);
                                </script>
                            }
                        }
                        else
                        {
                            <div class="fire-button">
                                <a href="https://localhost:7275/Account/Login">
                                    <img src="~/img/empty-fire.png">
                                </a>
                            </div>
                        }
                        <h2 class="title">@item.Name</h2>
                        <div class="poster">
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.ProfilePhoto)" />
                        </div>
                        <p>@item.MusicType show, at : <a asp-controller="Location" asp-action="ShowLocation" asp-route-locationId="@item.Location.Id">@item.Location.Name</a> ,
                            by <a asp-controller="Account" asp-action="ShowOrganizer" asp-route-organizerId="@item.Organizer.Item1">@item.Organizer.Item2</a>
                        </p>
                        <p class="details">
                            On <b>@item.StartDate.ToString("dd.MM.yyyy HH:mm")</b> till <b>@item.EndDate.ToString("dd.MM.yyyy HH:mm")</b>
                        </p>
                        <p>
                            Artists:
                            @if (item.Artists != null)
                            {
                                @foreach (var artist in item.Artists)
                                {
                                    <a asp-controller="Artist" asp-action="ShowArtist" asp-route-artistId="@artist.Item1">@artist.Item2 ,</a>
                                }
                            }
                        </p>
                        <a asp-controller="Event" asp-action="ShowEvent" asp-route-eventId="@item.Id" class="action-button">More about</a>
                        @if (CurrentUser.RoleId == (int)RoleType.Organizer && CurrentUser.Id == item.Organizer.Item1)
                        {
                            <a asp-controller="Event" asp-action="EditEvent" asp-route-eventId="@item.Id" class="action-button">Edit</a>
                            <a asp-controller="Event" asp-action="DeleteEvent" asp-route-eventId="@item.Id" class="action-button">Delete</a>
                        }
                    </div>
                </div>
                }
        </div>
        <h2>Past Invents</h2>
        <div class="grid-container">
            @foreach (var item in Model.PastEvents)
            {
                <div class="grid-item">
                    <div class="box">
                        <div id="@item.Id" class="fire-button">
                        </div>
                        @if (CurrentUser.IsLoggedIn)
                        {
                            if (CurrentUser.RoleId == (int)RoleType.User)
                            {
                                <script>
                                    addFavouriteButton(@item.Id, @CurrentUser.Id);
                                </script>
                            }
                        }
                        else
                        {
                            <div class="fire-button">
                                <a href="https://localhost:7275/Account/Login">
                                    <img src="~/img/empty-fire.png">
                                </a>
                            </div>
                        }
                        <h2 class="title">@item.Name</h2>
                        <div class="poster">
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.ProfilePhoto)" />
                        </div>
                        <p>@item.MusicType show, at : <a asp-controller="Location" asp-action="ShowLocation" asp-route-locationId="@item.Location.Id">@item.Location.Name</a> ,
                            by <a asp-controller="Account" asp-action="ShowOrganizer" asp-route-organizerId="@item.Organizer.Item1">@item.Organizer.Item2</a>
                        </p>
                        <p class="details">
                            On <b>@item.StartDate.ToString("dd.MM.yyyy HH:mm")</b> till <b>@item.EndDate.ToString("dd.MM.yyyy HH:mm")</b>
                        </p>
                        <p>
                            Artists:
                            @if (item.Artists != null)
                            {
                                @foreach (var artist in item.Artists)
                                {
                                    <a asp-controller="Artist" asp-action="ShowArtist" asp-route-artistId="@artist.Item1">@artist.Item2 ,</a>
                                }
                            }
                        </p>
                        <a asp-controller="Event" asp-action="ShowEvent" asp-route-eventId="@item.Id" class="action-button">More about</a>
                        @if (item.EndDate < DateTime.Now)
                        {
                            @if (CurrentUser.IsLoggedIn)
                            {
                                if (CurrentUser.RoleId == (int)RoleType.User)
                                {
                                    <a asp-controller="Rating" asp-action="RateEvent" asp-route-eventId="@item.Id">Rate</a>
                                }
                            }
                            else
                            {
                                <a href="https://localhost:7275/Account/Login">
                                    Rate
                                </a>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="content" id="content3">
        <div class="grid-container">
            <div>
                <form asp-controller="Photo" asp-action="AddPhotoLocation" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group" style="display : none">
                            <label asp-for="Id"></label>
                            <input asp-for="Id" type="text" class="form-control" value="@Model.Id">
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo" class="control-label"></label>
                            <input asp-for="Photo" type="file" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhotoDescription" class="control-label"></label>
                            <input asp-for="PhotoDescription" class="form-control" />
                            <span asp-validation-for="PhotoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add Photo" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="photo-container">
            @if (Model.Photos != null)
            {
                @foreach (var item in Model.Photos)
                {
                    <div class="img-box" >
                        <div class="image-container">
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Item2)" />
                        </div>
                        <p>@item.Item1</p>
                        <a asp-controller="Photo" asp-action="DeletePhotoLocation" asp-route-photoId="@item.Item3" asp-route-location="@Model.Id" class="action-button">Delete Photo</a>
                    </div>
                }
            }
        </div>
    </div>
</body>

    <script type="text/javascript" src="~/js/ShowLocationMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDskCuIVFMekGb0wTiOp1d7NjXCzKnM6BU&libraries=places&callback=initMapFromShowLocation&v=weekly" defer>
</script>

<script>
    document.getElementById("content1").style.display = 'block';
    var lat = @Model.Latitude;
    var lng = @Model.Longitude;

    var currentUser = {
        id: @CurrentUser.Id,
        isLoggedIn: @CurrentUser.IsLoggedIn.ToString().ToLower(),
        roleId: @CurrentUser.RoleId
    }
    ShowUpcomingEvents(1, @Model.Id);
</script>
