<style>
    #organizer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .organizer-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        min-width: 250px;
        max-width: 300px;
    }

    .pending {
        background-color: #ffffcc;
    }

    .accepted {
        background-color: #ccffcc;
    }

    .rejected {
        background-color: #ff2424;
    }

    .button-container {
        display: flex;
    }

    .button-container form {
        margin-right: 5px;
    }
</style>
@model List<OrganizerRequestShow>

<h1>Organizer Requests</h1>
<div id="filter-buttons"></div>
<div id="organizer-container">
    @*@foreach (var organizerRequest in Model)
    {
        <div class="organizer-card @Enum.GetName(typeof(MapMusic.Entities.Enums.OrganizerRequestStatusEnum), organizerRequest.OrganizerRequestStatusId)">
            <p><strong>ID:</strong> @organizerRequest.Id</p>
            <p><strong>Full Name:</strong> @organizerRequest.FullName</p>
            <p><strong>Description:</strong> @organizerRequest.Description</p>
            <p><strong>Email:</strong> @organizerRequest.Email</p>
            @if (organizerRequest.OrganizerRequestStatusId == (int)MapMusic.Entities.Enums.OrganizerRequestStatusEnum.Pending)
            {
                <div class="button-container">
                    <form method="post" asp-controller="Admin" asp-action="AcceptOrganizerRequest">
                        <input type="hidden" name="organizerRequestId" value="@organizerRequest.Id" />
                        <button type="submit">Accept</button>
                    </form>
                    <form method="post" asp-controller="Admin" asp-action="RejectOrganizerRequest">
                        <input type="hidden" name="organizerRequestId" value="@organizerRequest.Id" />
                        <button type="submit">Reject</button>
                    </form>
                </div>
            }
        </div>
    }*@
</div>
<script type="text/javascript" src="~/js/ShowOrganizersRequest.js"></script>
<script type="text/javascript">
    ShowOrganizersRequest("organizer-container");
</script>